.container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 7px;
    width: 350px;
}

.container label {
    font-size: 20px;
}

.container input {
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
    font-size: 18px;
}

.container input:focus {
    border: 0;
    outline: 0;
    box-shadow: 0 0 3px 1px black;
}

.boxButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100;
}

.boxButton button {
    padding: 20px;
    width: 150px;
    background-color: orange;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

.displayNone {
    display: none;
}

.confirmationModal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 31, 31, 0.432);
    flex-direction: column;
}

.confirmationModal .box {
    background-color: white;
    width: 350px;
    font-size: 25px;
    padding: 30px;
    height: 175px;
    position: relative;
    bottom: 48px;
    border-radius: 7px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 4px 2px black;
}

.marginButton { 
    margin-top: 20px;
}